<style>
body {
  background-color: #214c57; /* made changes to color scheme for background and text, added font size default, and line height*/
  color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
}

nav {
  background-color: rgba(248, 246, 246, 0.226);
  float: left;
  position: fixed;
  width: 100%;
}
a:link { color:aquamarine} /*added color and hover link*/
a:hover{color:#ecf2f3}

a {
  text-decoration: none;/*removed underline*/
}

.logo {
  margin: 20px;
  width: 100px;
}
h1 {
  font-size: 3em; /*added Header 1 font size to add weight*/
}
h3 {
  font-size: 1.5em;/*added Header 3 fount size to add weight*/
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
</style>
